In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz',compression='gzip', nrows=100)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', low_memory=False, iterator = True, chunksize=100000)

In [16]:
df = next(df_iter)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists ='replace')

0

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists ='append')

CPU times: user 7.18 s, sys: 140 ms, total: 7.32 s
Wall time: 11.3 s

1000

In [16]:
from time import time

In [22]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists ='append')
        t_end = time()
        print('inserted another chunk..., took %.3f second' %(t_end-t_start))
    except StopIteration:
            print('completed')
            break

inserted another chunk..., took 10.293 second
inserted another chunk..., took 10.583 second
inserted another chunk..., took 10.219 second
inserted another chunk..., took 10.520 second
inserted another chunk..., took 10.272 second
inserted another chunk..., took 10.185 second
inserted another chunk..., took 10.638 second
inserted another chunk..., took 10.457 second
inserted another chunk..., took 9.997 second
inserted another chunk..., took 10.817 second
inserted another chunk..., took 10.434 second
inserted another chunk..., took 10.664 second
inserted another chunk..., took 7.316 second
completed

In [6]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [8]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', nrows = 100)

In [10]:
print(pd.io.sql.get_schema(df_green, name = 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter_green = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', low_memory= False, iterator=True, chunksize=100000)

In [12]:
df_g = next(df_iter_green)

In [13]:
df_g.lpep_pickup_datetime = pd.to_datetime(df_g.lpep_pickup_datetime)
df_g.lpep_dropoff_datetime = pd.to_datetime(df_g.lpep_dropoff_datetime)

In [14]:
df_g.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists ='replace')

0

In [17]:
while True:
    try:
        t_start = time()
        df_g = next(df_iter_green)
        df_g.lpep_pickup_datetime = pd.to_datetime(df_g.lpep_pickup_datetime)
        df_g.lpep_dropoff_datetime = pd.to_datetime(df_g.lpep_dropoff_datetime)
        df_g.to_sql(name='green_taxi_data', con=engine, if_exists ='append')
        t_end = time()
        print('inserted another chunk..., took %.3f second' %(t_end-t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk..., took 10.132 second
inserted another chunk..., took 10.143 second
inserted another chunk..., took 10.058 second
inserted another chunk..., took 4.223 second
completed